<table style="width: 450px; font-size: 10pt; font-family: Arial, sans-serif;" cellpadding="0" cellspacing="0" border="0"
  class="ng-scope">
  <tbody>
    <tr>
      <td
        style="font-size: 10pt; font-family: Arial, sans-serif; border-right: 3px solid; border-right-color: #273c75; width:180px; padding-right: 10px; vertical-align: top;"
        valign="top">
        <!-- ngIf: showField('photo') --><img ng-if="showField('photo')" ng-src="https://i.imgur.com/yQekfhr.jpg?2"
          alt="photograph" width="120" border="0" style="border:0; height:auto; width:120px" class="ng-scope"
          src="https://i.imgur.com/yQekfhr.jpg?2"><!-- end ngIf: showField('photo') -->
        <p style="margin-top:32px; margin-bottom:0; line-height:1.0">
          <strong><span style="font-size: 12pt; font-family: Arial, sans-serif; color:#273c75;"
              class="ng-binding">Turanur Islam<br></span></strong>
          <!-- ngIf: showField('title') --><span ng-if="showField('title')"
            style="font-family: Arial, sans-serif; font-size:9pt; color:#1e272e;"
            class="ng-binding ng-scope">Journalist, Web Designer</span>
        </p>
      </td>

      <td valign="top">

        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td
                style="font-size: 10pt; color:#444444; font-family: Arial, sans-serif; padding-bottom: 5px; padding-left: 30px; vertical-align: top; line-height:1.3"
                valign="top">
        <span ng-if="showField('mobile')" class="ng-scope"><span
                    style="color: #1e272e;"><strong>M</strong></span><span
                    style="font-size: 9pt; font-family: Arial, sans-serif; color:#1e272e;" class="ng-binding">
                    +880168-0606989<br></span></span>
<span ng-if="showField('email')" class="ng-scope"><span
                    style="color: #1e272e;"><strong>E</strong></span><span
                    style="font-size: 9pt; font-family: Arial, sans-serif; color:#1e272e;" class="ng-binding">
                    turan.mcj@gmail.com</span></span>
              </td>
            </tr>
            <tr>
              <td
                style="font-size: 10pt; color:#0079ac; font-family: Arial, sans-serif; padding-bottom: 5px; padding-left: 30px; vertical-align: top; line-height:1.3"
                valign="top">
                <!-- ngIf: showField('company') --><strong ng-if="showField('company')"
                  style="font-family: Arial, sans-serif; font-size:9pt; color:#1e272e;" class="ng-binding ng-scope">Mass
                  Communication and Journalism</strong><span
                  ng-if="isAnyFieldEntered('address1, address2')" class="ng-scope">
                  <br>
                  <!-- ngIf: showField('address1') --><span ng-if="showField('address1')"
                    style="font-size: 10pt; font-family: Arial, sans-serif; color: #1e272e;"
                    class="ng-binding ng-scope">University of Dhaka
                    <!-- ngIf: showField('address2') --><span ng-if="showField('address2')" class="ng-scope"><br></span>
                   </span>
                 <span ng-if="showField('address2')"
                    style="font-size: 10pt; font-family: Arial, sans-serif; color: #1e272e;"
                    class="ng-binding ng-scope">Writer @ Roar Bangla</span><!-- end ngIf: showField('address2') -->
                </span><!-- end ngIf: isAnyFieldEntered('address1, address2') -->
              </td>
            </tr>


            <tr>
              <td
                style="font-size: 10pt; font-family: Arial, sans-serif; padding-bottom: 5px; padding-top: 5px; padding-left: 30px; vertical-align: top; color: #0079ac;"
                valign="top">
                <a href="http://www.turanurislam.com" target="_blank" rel="noopener"
                  style="text-decoration:none;"><strong
                    style="font-size: 9pt; font-family: Arial, sans-serif; color: #1dd1a1;"
                    class="ng-binding">www.turanurislam.com</strong></a>
              </td>
            </tr>
          
            <tr
              ng-if="isAnyFieldEntered('facebookURL, twitterURL, youtubeURL, linkedinURL, instagramURL, pinterestURL')"
              class="ng-scope">
              <td
                style="font-size: 10pt; font-family: Arial, sans-serif; padding-top: 15px; padding-left: 30px; vertical-align: bottom;"
                valign="top">
              <span ng-if="showField('facebookURL')" class="ng-scope"><a
                    href="https://www.facebook.com/turanur.islaam" target="_blank" rel="noopener"><img border="0"
                      width="22"
                      ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/rounded-squares/fb.png"
                      alt="facebook icon" style="border:0; height:22px; width:22px"
                      src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/rounded-squares/fb.png"></a>&nbsp;</span>
             <span ng-if="showField('twitterURL')" class="ng-scope"><a
                    href="https://twitter.com/TuranurTuran" target="_blank" rel="noopener"><img border="0" width="22"
                      ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/rounded-squares/tt.png"
                      alt="twitter icon" style="border:0; height:22px; width:22px"
                      src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/rounded-squares/tt.png"></a>&nbsp;</span>
            <span ng-if="showField('linkedinURL')" class="ng-scope"><a
                    href="https://www.linkedin.com/in/turanurislam/" target="_blank" rel="noopener"><img border="0"
                      width="22"
                      ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/rounded-squares/ln.png"
                      alt="linkedin icon" style="border:0; height:22px; width:22px"
                      src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/rounded-squares/ln.png"></a>&nbsp;</span>
               <span ng-if="showField('instagramURL')" class="ng-scope"><a
                    href="https://www.instagram.com/turanur.turan/" target="_blank" rel="noopener"><img border="0"
                      width="22"
                      ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/rounded-squares/it.png"
                      alt="instagram icon" style="border:0; height:22px; width:22px"
                      src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/rounded-squares/it.png"></a>&nbsp;</span>
             <span ng-if="showField('pinterestURL')" class="ng-scope"><a
                    href="https://www.pinterest.com/TuraanuR/" target="_blank" rel="noopener"><img border="0" width="22"
                      ng-src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/rounded-squares/pt.png"
                      alt="pinterest icon" style="border:0; height:22px; width:22px"
                      src="https://codetwocdn.azureedge.net/images/mail-signatures/generator-dm/rounded-squares/pt.png"></a></span>
                
              </td>
            </tr>
          

          </tbody>
        </table>
      </td>
    </tr>


    <tr ng-if="showField('banner')" class="ng-scope">
      <td colspan="2" style="padding-top:20px">
        <a ng-if="showField('bannerURL')"
          href="https://www.instagram.com/turanur.turan/" target="_blank" rel="noopener" class="ng-scope"><img
            border="0" ng-src="https://i.imgur.com/G7TR2cU.png" alt="Banner"
            style="max-width:450px; height:auto; border:0;" src="https://i.imgur.com/G7TR2cU.png"></a>
       
      </td>
    </tr>

  </tbody>
</table>